*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    /* overflow: hidden; */
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 1000px;
    font-family: sans-serif;
    overflow-x: hidden;
}

header{ 
    width: 100%;
}

header .navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #d3d3d32a;
    transition: .6s;
    z-index: 1000;
}

header .navbar ul{
    display: flex; 
    padding-right: 100px;
    list-style: none;
    align-content: center;
    align-items: center;
    transition: .6s;
}

header .navbar ul li{
    padding: 20px;
    transition: .6s;

}
header .navbar ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    transition: .6s;
    letter-spacing: 1px;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1em;
    line-height: 1.7;

}
header .navbar ul li a:hover{
    color: rgba(0, 0, 0, 0.9);
}

header .navbar .logo{
    height: 60px;
    /* background-color: #000; */
    width: 200px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s;
    padding: 10px;
    padding-left: 50px;
}

header .navbar .logo img{
    width: 90%;
    height: 100%;
}

header .active{
    height: 50px;
    background-color: #fff;
    padding: 5px 0px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2);
    /* border-bottom: 1px solid rgba(0, 0, 0, .1); */
    z-index: 1000;
}

header .active .logo{
    padding: 0;
    padding-left: 50px;
}

 .header_content{
    width: 100%;
    height: 90vh;
    background-color: #d3d3d32a;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
   justify-content: space-between;
   
}
.header_content .content_details{
    width: 50%;
    height: 90vh;
    /* background-color: black; */
}
.header_content .content_details h3{
   position: absolute;
   font-size: 4em;
   font-weight: 900;
   font-family:"Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   letter-spacing: 3px;
   top: 35%;
   left: 10%;
   transform: translate(-0%, -50%);
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: .5em;
}

.header_content .content_details span{
   position: absolute;
   margin-top: 1em;
   top: 48%;
   left: 10%;
   transform: translate(-0%, -50%);
    color: rgba(0, 0, 0, 0.6);
}

.header_content .content_image{
    width: 50%;
    height: 90vh;
    /* background-color: black; */
}

.header_content .content_image .slider{
    
    width: 100%;
    height: 90vh;
    background-image: url(images/aerial_2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .6s;
    animation-name: animate;
    animation-direction: reverse;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out; 
    
}
.img_slider{
    display: none;
}
@keyframes animate{
    0%{
        background-image: url(images/aerial.png);
        background-position: center;
        background-size: cover;
        transition: .0s ease-in-out;
       
       
    }
    50%{
        background-image: url(images/aerial_2.png);
        background-position: center;
        background-size: cover;
        transition: .0s ease-in-out;
    }
    100%{
        background: url(images/aerial.png);
        background-position: center;
        background-size: cover;
        transition: .0s ease-in-out;
    }
}

section{
    margin-top: 650px;
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
    width: 100%;
    min-height: 100vh;
   
}

section .about{
   padding-top: 100px;
    width: 100%;
    position: absolute;
    /* background: red; */
    text-align: center;
    height: 100vh;
}

section .about .h3{
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 1px;
    transition: .6s;
    margin-bottom: .5em;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
section .about .p{
    /* padding-top: 20px; */
    width: 40%;
    text-align: center;
    display: flex;
    margin: 0 auto;
    letter-spacing: 1px;
    color: gray;
    font-size: 1rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.7;
    font-weight: 400;
    
}
section .sticky .h3{
    animation: inside .5s ease-in;
    animation-delay: .2s;
}
@keyframes inside{
    0%{
        padding-top: 50px;
        opacity: .6;
    }
    100%{
        padding-top: 0%;
        opacity: 1;
    }
}

.content_about{
    width: 100%;
    height: 2000px;
    /* background: #000; */
}

.first_about{
    width: 100%;
    height: 20%;
    /* background-color: #fff; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    
}

.second_about{
    width: 100%;
    height: 20%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.third_about{
    width: 100%;
    height: 20%;
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.fourth_about{
    width: 100%;
    height: 20%;
    /* background-color: green; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.fifth_about{
    width: 100%;
    height: 20%;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.content_about .detail{
    width: 100%;
    height: 100%;
    /* background: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
.content_about .picture{
    width: 100%;
    height: 100%;
    /* background: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
.content_about .detail_heading_right h3{
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 1px;
    transition: .6s;
    margin-bottom: .5em;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 70%;
    text-align: right;
    line-height: 1.2;
}
.detail_words_right{
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.detail_words_left{
    width: 100%;
    /* height: 100%; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    align-content: center; */
}

.detail_heading_right{
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.detail_heading_left{
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.detail_words_right p{
    text-align: right;
    width: 70%;
    letter-spacing: 1px;
    color: gray;
    font-size: 1rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.2;
    font-weight: 400;
}

.detail_words_left p{
    text-align: left;
    width: 70%;
    letter-spacing: 1px;
    color: gray;
    font-size: 1rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.2;
    font-weight: 400;
}

.content_about .detail_heading_left h3{
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 1px;
    transition: .6s;
    margin-bottom: .5em;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 100%;
    text-align: left;
    line-height: 1.2;
}

.detail_image{
    width: 80%;
    height: 80%;
    background-color: #d3d3d356;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: .6s;
}
.detail_img{
    display: none;
}
.first_about:hover .detail_image,
.second_about:hover .detail_image,
.third_about:hover .detail_image,
.fourth_about:hover .detail_image,
.fifth_about:hover .detail_image{
    transition: .6s;
    box-shadow: 7px 7px 0px 0px #a2c0be;
}

.detail span,
.picture span{
    margin-top: 10px;
    background-color: #a2c0be;
    padding: 15px;
    top: 30px;
    position: relative;
    border-radius: 50px;
}

.detail span a,
.picture span a{
    text-decoration: none;
    color: #fff;
    transition: .5s;
}

.detail span:hover,
.picture span:hover{
    background-color: #88cec9;
    transition: .5s;
}
.detail_image img{
    /* position: absolute; */
    width: 100%;
    height: 100%;
}